@import "base.less";

.store {
    margin: 0px !important;
    padding: 0px !important;
    overflow-y: auto;

    .header {
        top: 0px;
        height: 60px;       
        background-color: @baseColor;        
        z-index: 10000;
        position: fixed;

        i{
            color:#fff;
            font-size:30px;
            margin-top:15px;
        }
        .search-container{
            margin: 10px 8%;
            text-align: center;
        }

        .login-panel{
            a{
                color:#fff;
            }
        }
    }

    .side-nav{
        margin-top: 60px;  
        background-color: #fff; 
    }

    .content {
        margin-top: 60px;   
        padding: 5px; 
        height: 850px;
        background-color: #def0ff;     
        overflow-y: auto;   
        //height: 600px;

        .content-header, .content-footer {
            height: 50px;
            padding: 10px;
            text-align: center;
            color: #fff;
            font-size: 20px;
            background-color: #235aad;
        }

        .content-summary{
           background-color: #def0ff;
            height: 36px;
            font-weight: bold;
            border-bottom: 1px solid #fff;
        }

        .content-body{
            img{
                cursor: pointer;
            }
        }

        .content-footer {
            bottom: 0px;
        }      

        .list {
            margin: 20px;           

            li {               

                a{
                    color: #2e4dfe;
                }

                .title {
                   font-size: 14px;
                }

                .btn {
                    margin-top: 15px;
                }

                .desc {
                    font-size: 12px;
                    color: #fff;
                    margin-left: 30%;
                }
            }
        }

        .menu {
            .lblsortKey {
                padding: 10px 0 0 0px;
            }

            .menu-list {
                li {
                    text-decoration: none;
                    padding: 10px 15px;
                    border-right: 1px solid #ccc;

                    /*div a {
                        color:white;
                    }*/
                }
            }
        }



        .details {
            height: 77%;

            .desc {
                padding: 10px;
                height: @baseHeight;
            }
        }

        .edit {

            textarea {
                height: 200px;
            }
        }
    }

    .poster{
        width: 150px;
        height: 150px;
    }

    .search-btn{
        margin-top: 32px; 
    }

    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: .25rem;
        background-color: #efefef;
        text-align: center;

        .navbar {
            position: relative;
            padding: .25rem 1rem;
        }
        
        .nav{
             margin: 0 auto;
             width: 40%;
        }
    }
}
