<section class="row" *ngIf="songs.length"> 
    <ul id="song-list" class="row list list-unstyled">
        <li class="col-sm-3 m-y" template="ngFor let song of songs; let i = index">
                <div class="row"> 
                    <img class="poster" src="{{song.track_image_file}}" /> 
                </div>
                <div class="row">                    
                     <div class="title"> 
                         <span>Song:</span>
                         <span>{{song.track_title}} </span> 
                    </div>   
                    <div class="title"> 
                         <span>Album:</span>
                         <span> <a href="/albums/{{song.album_id}}"> {{song.album_title}} </a>  </span> 
                    </div>                           
                </div>  
        </li>
    </ul>
</section>
<section class="panel panel-default" *ngIf="!songs.length"> 
    <div>No Songs Found. Please Search again.</div>
</section>
